h1{font-family: 'Lobster', cursive;} 
h1{color:black;}
h1 {font-size:50px;}

h2{font-family: 'Cantarell', sans-serif;}
h2{color:white;}
h2 {font-size:30px;}

h3{font-family: 'Cantarell', sans-serif;}
h3{color:white;}
h3 {font-size:30px;}

h4{font-family: 'Cantarell', sans-serif;}
h4{color:white;}
h4 {font-size:30px;}

h5{font-family: 'Cantarell', sans-serif;}
h5{color:white;}
h5 {font-size:30px;}

body{background-color:yellow;}

.award{text-align: center;}

.category{text-align: center;
color: white;
border: dotted blue 4px;}

img{display:block;
margin-left: auto;
margin-right: auto;
width:300px;}

p {font-size:30px;}

.winner{text-align:center;
color:black;
font-family: 'Staatliches', cursive;
color: black;
border: dotted blue 5px;}










